section{
    display: flex;

   flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    margin-left: 10%;
}

div{
    background-color: aqua;
    width: 20%;
    
}
button{
    width: 100%;
}
.add{
    width: 20%;
}