*{
    box-sizing: 0;
    margin: 0;
}


body{
    background:linear-gradient(90deg, rgba(172,169,215,1) 0%, rgba(82,82,168,1) 40%, rgba(23,44,144,1) 100%);
}
section{
    display: flex;
margin-top: 20px;
   flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    margin-left: 10%;
}

.div{
    background-color: greenyellow;
    width: 20%;
    border: 2px solid darkblue;
    height: 400px;
    display: flex;
    flex-direction: column;

    
}
img{
    height: 100px;
    width: 100px;
    align-self: center;
}
h2{
    text-align: center;
    margin: 20px 0;
}
p{
    flex-basis: 100%;
    text-align: center;
    font-weight: bold;
}
.buttons{
    width: 100%;
    margin: 0;
    
}
.delete,.random{
    width: 100%;
    border: none;
    background-color: green;
    outline: none;
    color: white;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    text-shadow: 0 0 5px white;
    transition: 0.5 all ease;
    box-shadow: 0 0 5px green;
}
.delete:hover ,.random:hover{
    background-color: white;
    color: green;
    cursor: pointer;
    text-shadow: 0 0 5px green;

}
.random{
    margin-bottom: 10px;
}


h1{
    text-align: center;
    margin-bottom: 50px;
    color: white;
    text-shadow:  0 0 5px white;
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;
}
label{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.all{
    align-self: center;
    display: flex;
    align-items: center;
    width: 20%;
    margin-top: 10px;
    justify-content: space-between;
    border: 1px solid grey;

    
}
input{
    
    width: 100%;
    align-self: center;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button {
   -webkit-appearance: none;
  
  }
  .minus , .plus{
      border:none;
      align-self: bottom;
      background-color: transparent;
      margin: 0;
      font-size: 30px;
      font-weight: bold;
      
  }


  
